* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Playfair Display", serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}
.navbar {
  position: sticky;
  top: 0;
}
.right {
  position: absolute;
  right: 30px;
}
.center {
  text-align: center;
}

.hero {
  background: url(./assets/MarkEntrekinSpeaking.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  top: 100px;
}

.hero-text {
  position: absolute;
  text-align: center;
  left: 42%;
  top: 30%;
  font-size: 40px;
  color: white;
  text-shadow: 0 0 15px black;
}
.hero-subtext {
  font-size: 25px;
}

.icons {
  font-size: 50px;
}
.highlights {
  color: maroon;
  padding-top: 40px;
}
.footer {
  text-align: center;
  border: black 1px;
  height: 30px;
  width: 100%;
}

.ytlist {
  list-style-type: none;
  margin: 20px;
}
li {
  margin: 20px;
}
td span {
  overflow: hidden;
}

@media (max-width: 700px) {
  .hero {
    background: url(./assets/SpeakingSmall.jpg);
  }
  .hero-text {
    left: 25%;
  }
}
@media (max-width: 400px) {
  .hero-text {
    left: 10%;
  }
}
