* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Playfair Display", serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}
.navbar {
  position: sticky;
  top: 0;
  z-index: 20;
}
.right {
  position: absolute;
  right: 30px;
}
.center {
  text-align: center;
}

.hero {
  background: url(./assets/MarkEntrekinSpeaking.jpg);
  height: 400px;
  top: 100px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-text {
  position: absolute;
  text-align: center;
  left: 42%;
  top: 30%;
  font-size: 40px;
  color: white;
  text-shadow: 0 0 15px black;
}
.hero-subtext {
  font-size: 25px;
}

.icons {
  font-size: 50px;
}
.highlights {
  color: maroon;
  padding-top: 40px;
}
.speeches {
  float: left;
  width: 400px;
  margin-left: 100px;
  margin-top: 75px;
}

.diagonal-one {
  margin-top: 300px;
  height: 300px;
  transform: skewY(-11deg);
  z-index: 2;
  /* background: url(https://picsum.photos/500); */
  background: url(./assets/MarkEntrekinSpeaking.jpg);

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blog {
  float: right;
  width: 400px;
  margin: 40px 200px 50px 0;
}

/* .picsum {
  float: right;
  margin-top: -200;
  height: 500px;
  width: 500px;
  border-top: 300px solid white;
  border-right: 1000px solid transparent;
  transform: skewY(20deg);
  background: url(https://picsum.photos/500);
  z-index: -1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */
.diagonal-two {
  margin-top: 350px;
  height: 300px;
  transform: skewY(11deg);
  z-index: 2;
  /* background: url(https://picsum.photos/500); */
  background: url(./assets/MarkEntrekinSpeaking.jpg);

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact {
  float: left;
  width: 400px;
  margin: 30px 0 50px 100px;
}

.footer {
  position: fixed;
  bottom: 0px;
  text-align: center;
  height: 30px;
  width: 100%;
}

.ytlist {
  list-style-type: none;
  margin: 20px;
}
li {
  margin: 20px;
}
td:nth-last-child(even) {
  max-height: 180px;
  min-height: 180px;
  overflow: hidden;
  display: list-item;
}

.ytPlayer {
  text-align: center;
}

td img {
  border-radius: 15px;
  margin-right: 15px;
}

@media (max-width: 1000px) {
  td:nth-last-child(even) {
    width: 300px;
  }
  td div {
    display: none;
  }
}
@media (max-width: 700px) {
  .hero {
    background: url(./assets/SpeakingSmall.jpg);
    background-attachment: fixed;
  }
  .hero-text {
    left: 25%;
  }
  .speeches {
    margin-left: 30px;
    margin-top: 40px;
    width: 300px;
  }
  .diagonal-one {
    margin-top: 350px;
  }
  .blog {
    width: 300px;
    margin-top: 40px;
    margin-right: 50px;
  }
  .contact {
    margin-left: 40px;
    width: 300px;
  }
  td h3,
  td:nth-last-child(even) {
    display: none;
  }
}
@media (max-width: 400px) {
  .hero-text {
    left: 10%;
  }
}
